.table-container {
  background: #ffffff;
  box-shadow: 0 1px 35px 1px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;

  .table-header {
    font-size: 15px;
    height: 60px;
    border-bottom: 1px solid #9e9e9e63;

    > div {
      height: 60px;
      border-right: 1px solid #9e9e9e63;
    }

    > div:last-child {
      border-right: none;
    }

    .currency-info {
      width: 100%;
      text-align: center;
      font-size: 11px;
    }

    &.currency-central-bank {
      span {
        display: inline-block;
        margin: 1.5rem;
      }
    }
  }

  .table-body {
    font-size: 14px;

    > div {
      border-bottom: 1px solid #9e9e9e63;
    }

    > div:last-child {
      border-bottom: 0;
    }

    .table-column {
      height: 30px;
      border-right: 1px solid #9e9e9e63;
    }

    .table-column:last-child {
      border-right: 0;
    }

    .label-style {
      font-size: 15px;
      font-weight: 600;
      padding-left: 5px;
      font-family: 'arm-font';
    }
  }

  .average-table-body {
    .label-style p {
      font-size: 15px;
      font-weight: 600;
    }

    .table-row p {
      height: 30px;
      line-height: 30px;
      width: 100%;
      font-size: 14px;
      text-align: center;
      border-bottom: 1px solid #9e9e9e63;
    }

    .label-style.table-row {
      border-right: 1px solid #9e9e9e63;

      p {
        text-align: left;
        padding-left: 15px;
      }
    }

    > div:nth-child(2) .table-row {
      border-right: 1px solid #9e9e9e63;
    }

    .table-row p:last-child,
    > div:nth-child(2) .table-row:last-child {
      border: 0;
    }
  }
}

.spinner-wrapper {
  margin-top: 300px;
}

::ng-deep {
  .main-select.mat-form-field-appearance-legacy .mat-form-field-wrapper .mat-form-field-infix {
    padding-bottom: 10px;
  }

  .main-select.mat-form-field-appearance-legacy .mat-select-trigger {
    padding: 0 15px;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #b53631;
  }
}
