<nav class="top_menu">
  <div class="navigation_tabs">
    <mat-tab-group>
      <mat-tab label="Banks">
        <h1>Some tab content</h1>
        <p>...</p>
        <app-banks></app-banks>
        <!--<router-outlet></router-outlet>-->
      </mat-tab>
      <mat-tab label="Exchanges Points">
        <h1>Some more tab content</h1>
        <p>...</p>
        <app-exchange-points></app-exchange-points>
      </mat-tab>
      <mat-tab label="Credit Organizations">
        <h1>Some more tab content</h1>
        <p>...</p>
        <app-credit-organizations></app-credit-organizations>
      </mat-tab>
      <mat-tab label="Investment Organizations">
        <h1>Some more tab content</h1>
        <p>...</p>
        <app-investment-organizations></app-investment-organizations>
      </mat-tab>
      <mat-tab label="Central Bank">
        <h1>Some more tab content</h1>
        <p>...</p>
        <app-central-bank></app-central-bank>
      </mat-tab>
      <mat-tab label="International Rates">
        <h1>Some more tab content</h1>
        <p>...</p>
        <app-international-rates></app-international-rates>
      </mat-tab>
    </mat-tab-group>
    <div class="top_bar_right_side_items">
      <div class="top-bar">
        <div class="date_and_time">

        </div>
        <div class="language_changers">

        </div>
      </div>
    </div>
  </div>
</nav>
