.table-header-section {
  display: inline-block;
  padding: 0 1rem;
  border-right: 1px solid #ababab;
  .mat-radio-button {
    padding-right: .5rem;
    margin-top: 1rem;
  }
}

.table-header-section.date {
  border: none;
  float: right;
}
