<div class="org-details">
  <h3 class="title">Organization details</h3>
  <div class="location">
    <div class="info">
      <h1>{{ title }}</h1>
      <h3>Head office {{ address }}</h3>
      <h3>Phone(s) {{ phoneNumber }}</h3>
      <h3>Fax {{ faxNumber }}</h3>
      <h3>Email <a href="{{ email }}" target="_blank">{{ email }}</a></h3>
      <h3>URL <a href="{{ url }}" target="_blank">{{ url }}</a></h3>
    </div>
  </div>
  <div class="map">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>

<app-rate-table
  [api]="'cbRates'"
  [averageRatesApi]="'cbAverageRates'"
  [hasAverageTable]="true"
  [isCentralBanksTable]="true">
</app-rate-table>
